.main {
	background-color: $color-bgd;

	&__section {
		padding-top: 140px;
	}

	&__container {
		margin: 50px auto;

		display: grid;

		grid-template-columns: 100%;
		gap: 20px 0;
		align-items: center;
		justify-content: center;
		justify-items: stretch;
		align-content: center;
		box-sizing: border-box;

		@media (min-width: 768px) {
			grid-template-columns: repeat(2, minmax(100px, 380px));
			gap: 16px 16px;

		}
	
		@media (min-width: 1024px) {
			grid-template-columns: repeat(3, minmax(100px, 380px));
			gap: 29px 29px;
		}

	}

	&__title {
		text-align: center;
	}
}



